$colors: (
	common: (
		white: #ffffff,
		black: #000000,
		blue: #7A44FF,
		heading: #171717,
		body-text: #636363,
		border: #e0e2e5,
		placeholder: #b4b4b4,
	),
	theme: (
		1: #7A44FF,
	),
	bg: (
		white: #ffffff,
		gray: #f9f9f9,
		grayLight: #f9f8f8,
		black: #000000,
		footer: #f9f9f9,
		dark: #120928,
		bodylight: #eff1f5,
		bodydark: #120928,
	),
);